//spacing
$gutter: 30px;
$gutter-1: $gutter/2;
$gutter-2: $gutter *1.5;

//colors
$white: #fff;
$black:#000;
$gray-1: #f8f9f9; 
$gray-2:#e2e4e6;

//font
$helvetica: "Arial, Helvetica, sans-serif";
$font-default: Arial, Helvetica, sans-serif;

